 body {
        font-family: 'Playfair Display', serif;
        background-color: #D3D3D3;
    }
header {
    text-align: center;
    padding: 10px;
    background-color: #ded8d8;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
section {
    text-align: center;
    padding: 10px;
    background-color:#ded8d8;
}
.project{
    width: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}
.project img{
    width: 100%;
    height:300px ;
    object-fit: cover;
    object-position: top;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navigation bar */
nav {
    padding: 10px 0;  /* Some padding for spacing */
}

ul {
    list-style-type: none;  /* Remove bullet points */
    text-align: center;  /* Center the list horizontally */
}

ul li {
    display: inline-block;  /* Make the list items appear in a row */
    margin: 0 20px;  /* Add space between the menu items */
}

ul li a {
    color: black;  /* White text for links */
    text-decoration: none;  /* Remove the underline from links */
    font-size: 18px;  /* Set the font size */
    padding: 10px 20px;  /* Add some padding to make the links more clickable */
    display: block;  /* Make the anchor tag a block-level element for better clickability */
}

/* Hover effect for links */
ul li a:hover {
    background-color: #555;  /* Change background color on hover */
    border-radius: 5px;  /* Optional: Add rounded corners */
}
.headserv{
    color: #555555;
}
html{
    scroll-behavior: smooth;
}
.service{
    width: 200px;
    height: 200px;
    border: 1px #ccc;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}
.service img{
    width: 200px;
    height:200px ;
    object-fit: cover;
    object-position:center;
    border-radius: 10%;
}
.service h3{
    color: #800000;
}
.service p{
    color: black;
}
.contact1{
    text-align: center;
    padding: 10px;
    background-color:#ded8d8;
    gap: 20px;
}
.contact1{
    text-align: center;
    padding: 10px;
    background-color:#ded8d8;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.contact1 img{
    width: 200px;
    height:200px ;
    object-fit: cover;
    object-position:center;
    border-radius: 10%;
}
.contactx{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homework{
    text-align: center;
    padding: 10px;
    background-color:#ded8d8;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.homework img{
    width: 200px;
    height:200px ;
    object-fit: cover;
    object-position:center;
    border-radius: 10%;
}
.homework1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

